credentials.ini
_venv
\#*
*~
repos
try_logs
logs
work
workspace
.\#*
*.pyc
sync.db
data
test/testdata/**
!test/testdata/*.ini
!test/testdata/wpt_config
!test/testdata/gecko_config
*.db-journal
dist
build
.cache
celerybeat-schedule
*.egg-info
devenv
