# Temp files
\#*
*~
.\#*
*.db-journal
.cache
*.retry

# App configuraton and workspace
credentials.ini
config/dev/ssh
config/prod
repo
workspace
celerybeat-schedule

# Test files
test/testdata/**
!test/testdata/*.ini
!test/testdata/wpt_config
!test/testdata/gecko_config


# Python / virtualenv
_venv
_virtualenv
*.egg-info
*.pyc

# Ansible
ansible_workspace
