GitPython==2.1.8
mercurial==4.3
PyGithub==1.35
bugsy==0.10.1
enum34==1.1.6
celery==4.1.0
requests==2.18.4
git+https://github.com/mozilla/version-control-tools.git#egg=mozautomation&subdirectory=pylib/mozautomation
filelock==2.0.13
slugid==1.0.7
