#!/usr/bin/env bash

command="$1"
shift
img={{ _image_name | mandatory }}

if [[ $1 == "--image" ]]; then
    img="$2"
    shift 2
fi

if [[ $command == "build" ]]; then
    docker build -t $img --file {{ wptsync_repo_path }}/docker/Dockerfile.dev {{ wptsync_repo_path }}
elif [[ $command == "test" ]]; then
    exec docker run -it $img --test
elif [[ $command == "run" ]]; then
    exec docker run -it --add-host=rabbitmq:127.0.0.1 \
    --env WPTSYNC_CONFIG={{ wptsync_config | mandatory }} \
    --env WPTSYNC_CREDS={{ wptsync_credentials | mandatory }} \
    --env WPTSYNC_GH_SSH_KEY={{ wptsync_github_key | mandatory }} \
    --env WPTSYNC_HGMO_SSH_KEY={{ wptsync_hgmo_key | mandatory }} \
    --mount type=bind,source={{ wptsync_repo_path | mandatory }},target={{ target_wptsync_repo | mandatory }} \
    --mount type=bind,source={{ mount_config | mandatory}},target={{ target_config | mandatory }} \
    --mount type=bind,source={{ mount_repos | mandatory }},target={{ target_repos | mandatory }} \
    --mount type=bind,source={{ mount_workspace | mandatory }},target={{ target_workspace | mandatory }} \
    $img $@
else
  echo "Usage: $0 build|test|run [--image image:tag] [optional args to for <run>...]"
fi
