wptsync_repo_path: "{{ internal_volume }}/wpt-sync"
wptsync_repo_url: https://github.com/mozilla/wpt-sync.git
# uid of app user in docker image
app_uid: 10001
rabbitmq_uid: 10002
wpt_user: wpt_user
# rebuild the docker image by default
rebuild: true
# credentials will be updated on server unless any of the environment variables
# below are unset on the control machine
update_credentials: "{{ lookup('env','WPT_CREDENTIALS') | default(false, true) }}"
# default filter sets these to false if environment variable is empty string
host_config: "{{ _repo_root }}/config"
host_prod_config: "{{ _repo_root }}/config/prod"
_sync_ini: "{{ host_prod_config }}/sync.ini"
_credentials: "{{ host_prod_config }}/credentials.ini"
_ssh_hgmo: "{{ host_prod_config }}/id_hgmo"
_ssh_github: "{{ host_prod_config }}/id_github"

# docker run paths
mount_config: "{{ internal_volume }}/config"
target_config: "/app/config"
mount_workspace: "{{ internal_volume }}/workspace"
target_workspace: "/app/workspace"
mount_repos: "{{ ebs_volume }}/repos"
target_repos: "/app/repos"
target_wptsync_repo: "/app/wpt-sync"
ssh_dir: "ssh"

# Environment variables
wptsync_config: "{{ target_config }}/prod/sync.ini"
wptsync_credentials: "{{ target_config }}/prod/credentials.ini"
wptsync_github_key: "{{ target_config }}/prod/{{ ssh_dir }}/id_github"
wptsync_hgmo_key: "{{ target_config }}/prod/{{ ssh_dir }}/id_hgmo"
