name: CI
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    name: Linters
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build containers
        run: ./bin/run_docker_dev.sh build --test
      - name: Run flake8
        run: ./bin/run_docker_dev.sh test --no-pytest --no-mypy
  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build containers
        run: ./bin/run_docker_dev.sh build --test
      - name: Run pytest
        run: ./bin/run_docker_dev.sh test --no-flake8 --no-mypy
  typing:
    name: mypy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build containers
        run: ./bin/run_docker_dev.sh build --test
      - name: Run mypy
        run: ./bin/run_docker_dev.sh test --no-flake8 --no-pytest
  security:
    name: Static Analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Run bandit
        run:  pip install bandit && bandit -r sync -ll
